<a href="https://colab.research.google.com/github/DG3161/edd_1310_2021/blob/master/1deoctubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

variables 
tipo dinamico

In [3]:
escuela = "FES Aragón"
print(escuela)
print("---------")
edad = 13
estatura = 1.67
fumador = True
frase = """
Esta es 
una 
frase
de multiples líneas
y tambien es
un tipo de dato
"""
print(frase)
nombre = 'jose'
nombre_completo = "jose sosa cardenas"

FES Aragón
---------

Esta es
una
frase
de multiples líneas
y tambien es
un tipo de dato

# **Print** 

con comas        "deja espacio entre las variables"

con signo más +

con formato ()

con el operador f""
 
 
 las palabras se separan con "sanke case (un "_")

In [4]:
print(nombre,edad)

jose 13

In [5]:
#+ concatena
print(nombre + str(edad))
print(nombre+nombre_completo)

jose13
josejose sosa cardenas

In [8]:
# con formato _> Su nombre es José y su edad es de 13 años
print("su nombre es",nombre,"y su edad es de",edad,"años.")
print("su nombre es {0} y su edad es de {1} años.".format(nombre,edad) ) 
print("su nombre es {1} y su edad es de {0} años.".format(nombre,edad) )

su nombre es jose y su edad es de 13 años.
su nombre es jose y su edad es de 13 años.
su nombre es 13 y su edad es de jose años.

In [9]:
# con formato con el operador f""

print(f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es jose y su edad es de 13 años.

# Carácter de escape

\n salto de linea

\t tabulador

\a beep

\" imprime comillas

\' imprime comilla simple

"""
comentario 
de
multiple
linea
"""

In [12]:
"""
Esto es
un comentario
de múltiple línea
tan tan
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 jose

# *Ayuda de tipos de dato en python*
dir()
help()

In [ ]:
# str, int, float, bool ... list, dict, set
dir(str)
help(str)

In [18]:
print(nombre_completo.capitalize())
print(nombre_completo.upper() , end="------" )
print(nombre_completo.title())

Jose sosa cardenas
JOSE SOSA CARDENAS------Jose Sosa Cardenas

In [ ]:
help(print)

# *Clase String*
es manejada como un arreglo(c o java) o lista (python)
'telefono = "Huawei mate 30 pro"'

In [24]:
telefono = "Huawei mate 30 pro"
print( telefono[0] )
print( telefono[5] )
print( telefono[0:5] )
print( telefono[0:5:2] )

H
i
Huawe
Hae

# *Slicing (rebanado)*
[ini:stop:incremento]
nota: el stop no se incluye, termina en el valor anterior al stop

In [32]:
print(telefono[7:11:1])
#el inicio y el incremento son opcionales
print( telefono[:11:] )
#el valor por defecto de stop es len(str)
print( telefono[::] )
# incremento negativo
print( telefono[::-1] )
# slacing negativo
ini = -3
inc = 1

print( telefono[ini::inc] )

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# *Métodos de string (str)*
Existen métodos muy útiles en ésta clase.

In [55]:
facultad = "    facultad de estudios superiores aragon      "
print(facultad)
print(facultad.count(" ") ) #cuenta cuantos hay
print(facultad.find("s")) #dice el indice de la primera coincidencia
print( facultad.strip()) #quita espacios y saltos de linea
print(len(facultad))
tamaño = len(facultad)
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad)
print(facultad.strip().split(" "))
print("-------------")


#copiar cadenas
otra_cadena = facultad
print(otra_cadena)
facultad = "FES Aragón"
print(facultad)
print(otra_cadena)

#copiar listas
colores = ["rojo,verde"]
otra = colores
otra.append("rosa")
print(colores)
print(otra)

    facultad de estudios superiores aragon
14
17
facultad de estudios superiores aragon
48
tamaño de la cadena es 48 caracteres
    facultad de estudios superiores aragon
['facultad', 'de', 'estudios', 'superiores', 'aragon']
-------------
    facultad de estudios superiores aragon
FES Aragón
    facultad de estudios superiores aragon
['rojo,verde', 'rosa']
['rojo,verde', 'rosa']