<a href="https://colab.research.google.com/github/DG3161/edd_1310_2021/blob/master/6deoctubre2020_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# strigng continuación

numeros_txt = "    1,2,3,4  ,5    ,35     ,15    ,12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',') #lo guarda ncomo un arreglo y cada uno se convierte en un string dentro de la cadena
print(numeros_txt)
 
for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt)

# funcion range()
# range(inicio, stop, incremento) 
print(range(1,10,1))
rango = range(1,10,2)

for x in rango:
  print(x)

rango = range(10)
for x in rango:
  print(x)

    1,2,3,4  ,5    ,35     ,15    ,12
['1', '2', '3', '4  ', '5    ', '35     ', '15    ', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# ***listas***
- mutables
- declaran con []
- selector [ int ]
- pueden ser de cualquier tipo y mezclados

# *tuplas*
- no mutables 
- declaran con ()
- selector [int]

# *diccionarios *
- son mutables
- son conjunto de partes llave:valor
- equivalente a los objetos JSON de javascript

# *conjuntos*
- representación de la teoría de conjuntos

In [ ]:
# Listas
frutas = ["Pera","Manzana","fresa","Kiwi","Naranja"]
print(frutas)
cosas =["cuaderno", 2,3.1416, True, False, ["rojo", "azul"]]
print(cosas)
frutas[2]="Fresa" #frutas[2] = frutas[2].capitalize
print(frutas)

# agregar a lista
frutas.append("Aguacate")  # inserta datos al final de la lista 
print(frutas)
frutas.insert(2, "Sandía") # inserta datos y es necesario dar indicacion de la posición
print(frutas)

# Concatenar listas
fecha = ["06", "10", "2020"] # 06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandía', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [ ]:
# Eliminar elemntos
cosas =["cuaderno", 2,3.1416, True, False, ["rojo", "azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lápiz")
print(cosas)
algo = cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

# Vaciar una lista
cosas.clear()
print(cosas)

# Ordenar
print(frutas)
frutas.sort()
print(frutas)
cosas.sort()
print(cosas)

['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro', 'Lápiz']
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul'], 'Libro']
Lápiz
['cuaderno', 2, True, False, ['rojo', 'azul'], 'Libro']
3.1416
['cuaderno', True, False, ['rojo', 'azul'], 'Libro']
[]
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandía']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandía']
[]

In [37]:
# Slicing

cosas =["cuaderno", 2,3.1416, True, False, ["rojo", "azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5])

numeros = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13])

# Sustituir rebanada -2,2 -> [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

numeros[8:13] =[-2,2]
print(numeros)

# preguntar por existencia
print(-2 in numeros)
print(-20 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['rojo', 'azul']]
de
[8, 9, 10, 11, 12]
[0, 1, 2, 3, 4, 5, 6, 7, -2, 2, 13, 14, 15]
True
False

# *Listas multidimensión*
listas dentro de listas

In [47]:
computadoras = ["HP","Mac Book Pro 17", "Mate Book", "Lenovo Legión"]
oss = ["Windows 10", "Linux", "Android", "IOS"]

computo = [computadoras , oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5: :-1])
print(computo[0][3][-8: :-1])
print("Linux" in computo[1])
dbms = [ ["Mysql","Open Source", False] , ["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legión']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legión'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga